<div class="row">
    <div class="col-md-5 col-lg-push-7">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Info</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>        
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                <h5><strong>Allowed Fields</strong></h5>
                <pre>
# ┌────────────── second (optional)
# │ ┌──────────── minute
# │ │ ┌────────── hour
# │ │ │ ┌──────── day of month
# │ │ │ │ ┌────── month
# │ │ │ │ │ ┌──── day of week
# │ │ │ │ │ │
# │ │ │ │ │ │
# * * * * * *
                </pre>
                </div>

                <div class="form-group">
                    <h5><strong>Allowed Values</strong></h5>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                        <th>field</th>
                        <th>value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>second</td>
                        <td>0-59</td>
                        </tr>
                        <tr>
                        <td>minute</td>
                        <td>0-59</td>
                        </tr>
                        <tr>
                        <td>hour</td>
                        <td>0-23</td>
                        </tr>
                        <tr>
                        <td>day of month</td>
                        <td>1-31</td>
                        </tr>
                        <tr>
                        <td>month</td>
                        <td>1-12 (or names)</td>
                        </tr>
                        <tr>
                        <td>day of week</td>
                        <td>0-7 (or names, 0 or 7 are sunday)</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-7 col-lg-pull-5">
        <form method="post" id="serviceForm" class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">{{ subTitle }}</h3>      
            </div>
            <div class="box-body">
                <input type="hidden" value="{{ app._id }}" id="app-id">
                <input type="hidden" value="{{ service._id }}" id="serviceID">
                <div class="form-group">
                    <label class="control-label">Base Url</label>
                   <pre>{{ app.url }}</pre>
                </div>
                <div class="form-group">
                    <label for="txtEndpoint">Endpoint</label>
                    <input id="txtEndpoint" value="{{ service.endpoint }}" name="endpoint" type="text" class="form-control" placeholder="/">
                </div>
                <div class="form-group">
                    <label for="ddlSchedule">Schedule Options</label>
                    <select id="ddlSchedule" name="custom" class="form-control">
                        <option selected disabled>Please Select</option>

                        {{#each scheduleOptions}}                                
                            <option {{#if this.selected }}selected{{/if}} value="{{ this.value }}">{{ this.text }}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group {{#if service.isCustom}}{{else}} hide {{/if}}">
                    <label for="txtSchedule">Enter Schedule</label>
                    <input id="txtSchedule" value="{{ service.schedule }}" name="schedule" type="text" class="form-control" placeholder="* * * * * *">
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" id="btnSubmitService" class="btn btn-primary">Submit</button>
                <a href="/apps/{{ app._id }}" type="submit" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>