<div class="login-box-body">
<p class="login-box-msg">Sign in to start your session</p>

<form id="loginForm" method="post">
    <div class="form-group has-feedback">
        <input type="email" name="email" id="txtEmail" class="form-control" placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
        <input type="password" name="password" id="txtPassword" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
        {{!-- <div class="col-xs-8">
            <div class="checkbox icheck">
            <label>
                <input type="checkbox"> Remember Me
            </label>
            </div>
        </div> --}}
        <!-- /.col -->
        <div class="col-xs-12">
            <a id="btnLogin" class="btn btn-primary btn-block btn-flat">Sign In</a>
        </div>
        <!-- /.col -->
    </div>
</form>

<a href="/forgot-password">I forgot my password</a><br>
<a href="/register" class="text-center">Register a new membership</a>

</div>
<!-- /.login-box-body -->