<div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>

    <form id="signupForm" method="post">
        <div class="form-group has-feedback">
            <input type="text" name="name" id="txtName" class="form-control" placeholder="Full name">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="email" name="email" id="txtEmail" class="form-control" placeholder="Email">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" name="password" id="txtPassword" class="form-control" placeholder="Password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" name="retype" id="txtRetype" class="form-control" placeholder="Retype password">
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
            <label>
                <input id="chckTerms" name="terms" type="checkbox"> I agree to the <a href="#">terms</a>
            </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" id="btnRegister" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
        </div>
    </form>

    <a href="/login" class="text-center">I already have a membership</a>
</div>
