<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">Create New App</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <form id="appForm" method="post" class="inline-form">
            <input type="hidden" id="editID">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="appName" class="control-label">App Name</label>
                        <input type="text" name="name" id="appName" class="form-control" placeholder="App Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="baseUrl" class="control-label">API Base URL</label>
                        <input type="text" name="url" id="baseUrl" class="form-control" placeholder="http://example.com">
                    </div>
                </div>
                <div class="col-md-2">
                    <label for="" style="display:block">&nbsp;</label>
                    <button id="btnSubmitApp" class="btn btn-primary">Submit</button>
                    <a href="javascript:;" id="btnCancelEdit" class="btn btn-white hide">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    <!-- /.box-body -->
</div>

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">All Apps</h3>
    </div>
    <!-- /.box-header -->
    <div class="">
        <table id="example2" class="table table-hover">
            <thead>
                <tr>
                    <th>App Name</th>
                    <th>Base Url</th>
                    <th>Services</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="appResults">
                
            </tbody>
            {{!-- <tfoot>
                <tr>
                    <th>App Name</th>
                    <th>Base Url</th>
                    <th>Services</th>
                    <th>&nbsp;</th>
                </tr>
            </tfoot> --}}
        </table>
    </div>
    <!-- /.box-body -->
</div>

<script id="apps-template" type="text/template">
    \{{#each apps}} 
        <tr>
            <td><a href="/apps/\{{ this._id }}">\{{ this.name }}</a></td>
            <td><code>\{{ this.url }}</code></td>
            <td>\{{ this.services }}</td>
            <td>
                <button data-app-id="\{{ this._id }}" class="btnEditApp btn btn-xs btn-primary"><i class="fa fa-pencil"></i></button>
                <button data-app-id="\{{ this._id }}"  class="btnDeleteApp btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
    \{{else}}
        <tr>
            <td colspan="4">No record found</td>
        </tr>
    \{{/each}}
</script>

