<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">History <small>(Last 14 days)</small></h3>
        <input type="hidden" id="app_id" value="{{ app._id }}">
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>        
        </div>
    </div>
    <div class="box-body chart-responsive">
        <div class="chart" id="line-chart" style="height: 300px;"></div>
    </div>
    <!-- /.box-body -->
</div>

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">All Logs</h3>
        <div id="paginationSection" class="pull-right">

        </div>
    </div>
    <!-- /.box-header -->

    <div class="row hidden-xs" style="padding: 10px;border-bottom:1px solid #e9e9e9">
        <div class="col-md-2"><strong>Endpoint</strong></div>
        <div class="col-md-2"><strong>Url</strong></div>
        <div class="col-md-2"><strong>Date Created</strong></div>
        <div class="col-md-2"><strong>Status</strong></div>
        <div class="col-md-2"><strong>Status Code</strong></div>
        <div class="col-md-2"><strong>More</strong></div>
    </div>
    <div id="logsResult">
        
    </div>
    <!-- /.box-body -->
</div>

<script id="logs-template" type="text/template">
    \{{#each logs}}
    <div class="box box-solid" style="margin-bottom:0">
        <div class="box-header with-border">
            <div class="row">
                <div class="col-md-2">
                    <code>/\{{ this.service_id.endpoint  }}</code>
                </div>
                <div class="col-md-2" style="word-break:break-word">\{{ this.url }} </div>
                <div class="col-md-2">\{{ this.created_at }} </div>
                <div class="col-md-2">
                    \{{#if this.status }}
                        <span class="label label-success">Success</span>
                    \{{else}}
                        <span class="label label-danger">Failed</span>
                    \{{/if}}
                </div>
                <div class="col-md-2">\{{ this.statusCode }} </div>
                <div class="col-md-2">
                    <button class="btn btn-xs btn-info" data-target="#\{{ this._id }}" data-toggle="collapse">details <span class="caret"></span></button>               
                </div>
            </div>
        </div>
        <div style="border-bottom:1px solid #e9e9e9" class="box-body collapse" id="\{{ this._id }}">
            <div class="row">
                <div class="col-md-12">
                    <label for="">Response</label>
                    <div>
                        <code>\{{ this.response }}</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
    \{{else}}
        <div class="box box-solid">
            <div class="box-header with-border">
                <div class="row">
                    <div class="col-md-12">
                        No records found
                    </div>
                </div>
            </div>
        </div>
    \{{/each}}
</script>

<script id="pagination-template" type="text/template"> 
    <ul class="pagination pagination-sm no-margin">
        <li><a href="javascript:;" class="pageLink" page="\{{ meta.prev_page }}">«</a></li>
        <li><a disabled> Page \{{ meta.current_page }} of \{{ meta.total_pages }}</a></li>
        <li><a href="javascript:;" class="pageLink" page="\{{ meta.next_page }}" href="#">»</a></li>
    </ul>
</script>