<div class="box box-widget widget-user">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-black" style="background: url('/assets/dist/img/photo1.png') center center;">
        <h3 class="widget-user-username text-capitalize">{{ app.name }}</h3>
        <input type="hidden" id="appID" value="{{ app._id }}">
        <h5 class="widget-user-desc"><code>{{ app.url }}</code></h5>
        <div class="row">
            <div class="col-md-4 col-lg-push-8">
                <div class="col-xs-12">
                    <a href="/apps/{{ app._id }}/logs" class="btn btn-block btn-default"><i class="fa fa-cogs"></i> Logs</a>
                </div>
                {{!-- <div class="col-xs-6">
                    <button data-app-id="{{ app._id }}" class="btn btn-danger btn-block">Delete App</button>
                </div> --}}
            </div>
        </div>
    </div>
</div>

<div class="box box-solid">
    <div class="box-header with-border">
        <h3 class="box-title">All Services</h3>
        <div class="pull-right">
            <a href="/apps/{{ app._id }}/service/new" class="btn btn-default btn-flat"><i class="fa fa-plus"></i> New</a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="">
        <table id="example2" class="table table-hover">
            <thead>
                <tr>
                    <th>Endpoint</th>
                    <th>Schedule</th>
                    <th>Created At</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="servicesResult">

            </tbody>
            
        </table>
    </div>
    <!-- /.box-body -->
</div>

<script id="services-template" type="text/template">
    \{{#each services}}
        <tr>
            <td><code>/\{{ this.endpoint  }}</code></td>
            <td>\{{ this.schedule }}</td>
            <td>
                \{{ this.created_at }} 
            </td>
            <td class="status">
                \{{#if this.status }}
                    <span class="label label-info">Running</span>
                \{{else}}
                    <span class="label label-warning">Stopped</span>
                \{{/if}}
            </td>
            <td>
                <a href="/apps/{{ app._id }}/service/\{{ this._id }}/edit" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i></a>
                <button data-service-id="\{{ this._id }}" class="btnDeleteService btn btn-xs btn-danger"><i class="fa fa-trash-o"></i></button>
                \{{#if this.status}}
                    <button status="\{{this.status}}" data-service-id="\{{ this._id }}" class="btnEnableService btn btn-light btn-xs">Stop</button>
                \{{else}}
                    <button status="\{{this.status}}" data-service-id="\{{ this._id }}" class="btnEnableService btn btn-success btn-xs">Start</button>
                \{{/if}}
            </td>
        </tr>
    \{{else}}
        <tr>
            <td colspan="5">No services found</td>
        </tr>
    \{{/each}}
</script>
